CREATE DATABASE [QLKS]
GO
USE [QLKS]
GO
/****** Object:  Table [dbo].[CaLamViec]    Script Date: 12-05-2021 7:48:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CaLamViec](
	[MaCLV] [int] NOT NULL,
	[TenCaLam] [nvarchar](30) NOT NULL,
	[GioBatDau] [time](7) NOT NULL,
	[GioKetThuc] [time](7) NOT NULL,
 CONSTRAINT [PK_CaLamViec] PRIMARY KEY CLUSTERED 
(
	[MaCLV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChucVu]    Script Date: 12-05-2021 7:48:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChucVu](
	[MaCV] [varchar](10) NOT NULL,
	[TenChucVu] [nvarchar](50) NOT NULL,
	[HeSoLuong] [float] NOT NULL,
 CONSTRAINT [PK_ChucVu] PRIMARY KEY CLUSTERED 
(
	[MaCV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhanVien]    Script Date: 12-05-2021 7:48:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhanVien](
	[MaNV] [int] IDENTITY(1,1) NOT NULL,
	[TenNV] [nvarchar](50) NOT NULL,
	[Ngaysinh] [date] NOT NULL,
	[CMND] [varchar](20) NOT NULL,
	[SDT] [varchar](11) NOT NULL,
	[Luongcoban] [money] NOT NULL,
	[TrangThai] [nvarchar](50) NOT NULL,
	[MaCLV] [int] NULL,
	[MaCV] [varchar](10) NULL,
	[GioiTinh] [nvarchar](10) NULL,
	[user] [varchar](50) NULL,
	[Password] [varchar](50) NULL,
	[Email] [nvarchar](50) NULL,
	[NgayGiaNhap] [date] NULL,
	[HinhAnh] [varchar](50) NULL,
 CONSTRAINT [PK_NhanVien] PRIMARY KEY CLUSTERED 
(
	[MaNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[Info_NV]    Script Date: 12-05-2021 7:48:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create view [dbo].[Info_NV]
as
SELECT nv.MaNV AS [Mã nhân viên],nv.TenNV AS [Họ tên],nv.Ngaysinh AS [Ngày sinh],nv.GioiTinh AS [Giới tính],
nv.Email ,nv.CMND as [CMND],nv.SDT as [SDT],cv.HeSoLuong * nv.Luongcoban as [Lương tháng],cv.TenChucVu as [Chức vụ],
nv.NgayGiaNhap as [Ngày gia nhập],clv.TenCaLam as[Tên ca làm việc],nv.TrangThai as [Tình trạng],nv.HinhAnh as [Hình ảnh]
from NhanVien nv,ChucVu cv,CaLamViec clv 
where cv.MaCV = nv.MaCV and nv.MaCLV = clv.MaCLV
GO
/****** Object:  Table [dbo].[KHACH]    Script Date: 12-05-2021 7:48:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHACH](
	[MaKHACH] [int] IDENTITY(1,1) NOT NULL,
	[TenKHACH] [nvarchar](50) NOT NULL,
	[NgaySinh] [date] NOT NULL,
	[SDT] [varchar](11) NOT NULL,
	[Email] [nvarchar](60) NOT NULL,
	[CMND] [varchar](20) NOT NULL,
	[QuocTich] [nvarchar](50) NOT NULL,
	[GioiTinh] [nvarchar](10) NULL,
 CONSTRAINT [PK_KHACH] PRIMARY KEY CLUSTERED 
(
	[MaKHACH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Loaiphong]    Script Date: 12-05-2021 7:48:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Loaiphong](
	[MaLP] [varchar](20) NOT NULL,
	[TenLoaiPhong] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Loaiphong] PRIMARY KEY CLUSTERED 
(
	[MaLP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhieuDatPhong]    Script Date: 12-05-2021 7:48:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhieuDatPhong](
	[MaPhieuDP] [int] NOT NULL,
	[MaPhong] [int] NOT NULL,
	[MaKHACH] [int] NOT NULL,
	[MaNV] [int] NOT NULL,
	[NgayDatPhong] [datetime] NOT NULL,
	[Traphong] [datetime] NOT NULL,
	[DonGiaThue] [money] NOT NULL,
	[DonGiaPhong] [money] NULL,
 CONSTRAINT [PK_PhieuDatPhong_1] PRIMARY KEY CLUSTERED 
(
	[MaPhieuDP] ASC,
	[MaPhong] ASC,
	[MaKHACH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Phong]    Script Date: 12-05-2021 7:48:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Phong](
	[MaPhong] [int] IDENTITY(1,1) NOT NULL,
	[Tenphong] [nvarchar](30) NOT NULL,
	[Songuoi] [int] NOT NULL,
	[DonGia] [money] NOT NULL,
	[Trangthai] [nvarchar](50) NOT NULL,
	[MaLP] [varchar](20) NOT NULL,
	[Tang] [int] NOT NULL,
 CONSTRAINT [PK_Phong] PRIMARY KEY CLUSTERED 
(
	[MaPhong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[View_PDP]    Script Date: 12-05-2021 7:48:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[View_PDP]
as
 Select pdp.MaPhieuDP as [Mã PDP], p.MaPhong as [Mã Phòng],p.Tenphong as [Tên Phòng],lp.MaLP as [Mã LP], lp.TenLoaiPhong as [Tên LP], 
		kh.MaKHACH as [Mã Khách],kh.TenKHACH as [Khách], kh.GioiTinh as [Giới Tính],kh.NgaySinh as [Ngày sinh],
		kh.Email,kh.CMND,kh.SDT,kh.QuocTich, 
		pdp.NgayDatPhong as [Ngày đặt], pdp.Traphong as [Ngày trả],
		pdp.DonGiaThue as [Tiền trả], pdp.DonGiaPhong as [Giá Phòng] ,nv.TenNV as [Nhân viên thanh toán]
 From PhieuDatPhong pdp,Phong p, NhanVien nv,KHACH kh,Loaiphong lp
 Where pdp.MaPhong = p.MaPhong and pdp.MaKHACH = kh.MaKHACH and pdp.MaNV = nv.MaNV
		and lp.MaLP = p.MaLP
GO
/****** Object:  Table [dbo].[HoaDon]    Script Date: 12-05-2021 7:48:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoaDon](
	[MaHD] [int] IDENTITY(1,1) NOT NULL,
	[MaPhong] [int] NOT NULL,
	[TongTien] [money] NOT NULL,
	[NgayInHD] [datetime] NOT NULL,
	[MaNV] [int] NOT NULL,
 CONSTRAINT [PK_HoaDon_1] PRIMARY KEY CLUSTERED 
(
	[MaHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[View_DetailsHD]    Script Date: 12-05-2021 7:48:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 create view [dbo].[View_DetailsHD]
  as
  select hd.MaHD,hd.MaPhong,hd.TongTien,hd.NgayInHD,hd.MaNV,nv.TenNV,kh.MaKHACH,kh.TenKHACH, p.Tenphong,p.Songuoi,pdp.DonGiaPhong,p.MaLP,lp.TenLoaiPhong,p.Tang,pdp.MaPhieuDP,pdp.NgayDatPhong,
		pdp.Traphong,pdp.DonGiaThue
  from HoaDon hd,Phong p,PhieuDatPhong pdp,Loaiphong lp, KHACH kh, NhanVien nv
  where hd.MaPhong = p.MaPhong and pdp.MaPhong = p.MaPhong and pdp.Traphong = hd.NgayInHD and lp.MaLP = p.MaLP and kh.MaKHACH = pdp.MaKHACH and nv.MaNV = hd.MaNV
GO
/****** Object:  Table [dbo].[DichVu]    Script Date: 12-05-2021 7:48:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DichVu](
	[MaDV] [varchar](20) NOT NULL,
	[TenDV] [nvarchar](60) NOT NULL,
	[DonGiaDV] [money] NOT NULL,
	[MaLoaiDV] [varchar](20) NULL,
 CONSTRAINT [PK_DichVu] PRIMARY KEY CLUSTERED 
(
	[MaDV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoaiDV]    Script Date: 12-05-2021 7:48:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiDV](
	[MaLoaiDV] [varchar](20) NOT NULL,
	[TenloaiDV] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_LoaiDV] PRIMARY KEY CLUSTERED 
(
	[MaLoaiDV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhieuDV]    Script Date: 12-05-2021 7:48:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhieuDV](
	[MaPhieuDV] [int] NOT NULL,
	[MaPhong] [int] NOT NULL,
	[MaDV] [varchar](20) NOT NULL,
	[TienDV] [money] NOT NULL,
	[Soluong] [int] NOT NULL,
	[NgaySD] [datetime] NOT NULL,
	[GiaDV] [money] NULL,
 CONSTRAINT [PK_PhieuDV] PRIMARY KEY CLUSTERED 
(
	[MaPhieuDV] ASC,
	[NgaySD] ASC,
	[MaDV] ASC,
	[MaPhong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[CaLamViec] ([MaCLV], [TenCaLam], [GioBatDau], [GioKetThuc]) VALUES (1, N'Sáng', CAST(N'08:00:00' AS Time), CAST(N'17:00:00' AS Time))
INSERT [dbo].[CaLamViec] ([MaCLV], [TenCaLam], [GioBatDau], [GioKetThuc]) VALUES (2, N'Tối', CAST(N'18:00:00' AS Time), CAST(N'05:00:00' AS Time))
GO
INSERT [dbo].[ChucVu] ([MaCV], [TenChucVu], [HeSoLuong]) VALUES (N'Admin', N'admin', 2)
INSERT [dbo].[ChucVu] ([MaCV], [TenChucVu], [HeSoLuong]) VALUES (N'BV', N'Bảo vệ', 1.2)
INSERT [dbo].[ChucVu] ([MaCV], [TenChucVu], [HeSoLuong]) VALUES (N'KT', N'Kế toán', 1.6)
GO
INSERT [dbo].[DichVu] ([MaDV], [TenDV], [DonGiaDV], [MaLoaiDV]) VALUES (N'BE01', N'Bia Tigher', 40000.0000, N'DU')
INSERT [dbo].[DichVu] ([MaDV], [TenDV], [DonGiaDV], [MaLoaiDV]) VALUES (N'BE02', N'Bia Heineken', 45000.0000, N'DU')
INSERT [dbo].[DichVu] ([MaDV], [TenDV], [DonGiaDV], [MaLoaiDV]) VALUES (N'BE03', N'Bia 333', 38000.0000, N'DU')
GO
SET IDENTITY_INSERT [dbo].[HoaDon] ON 

INSERT [dbo].[HoaDon] ([MaHD], [MaPhong], [TongTien], [NgayInHD], [MaNV]) VALUES (1, 1, 400000.0000, CAST(N'2021-04-05T00:00:00.000' AS DateTime), 1)
INSERT [dbo].[HoaDon] ([MaHD], [MaPhong], [TongTien], [NgayInHD], [MaNV]) VALUES (2, 2, 500000.0000, CAST(N'2021-04-06T00:00:00.000' AS DateTime), 1)
INSERT [dbo].[HoaDon] ([MaHD], [MaPhong], [TongTien], [NgayInHD], [MaNV]) VALUES (3, 3, 400000.0000, CAST(N'2021-04-04T00:00:00.000' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[HoaDon] OFF
GO
SET IDENTITY_INSERT [dbo].[KHACH] ON 

INSERT [dbo].[KHACH] ([MaKHACH], [TenKHACH], [NgaySinh], [SDT], [Email], [CMND], [QuocTich], [GioiTinh]) VALUES (1, N'Nguyễn Phước Lớn', CAST(N'2000-02-02' AS Date), N'0933216771', N'nplsolidary@gmail.com', N'0961334567', N'Việt Nam', N'Nam')
INSERT [dbo].[KHACH] ([MaKHACH], [TenKHACH], [NgaySinh], [SDT], [Email], [CMND], [QuocTich], [GioiTinh]) VALUES (2, N'Đặng Thành Người', CAST(N'2004-03-02' AS Date), N'0961533697', N'linhanh@gmail.com', N'0126250367', N'Việt Nam', N'Nam')
INSERT [dbo].[KHACH] ([MaKHACH], [TenKHACH], [NgaySinh], [SDT], [Email], [CMND], [QuocTich], [GioiTinh]) VALUES (3, N'Vũ Duy Trì', CAST(N'2005-04-03' AS Date), N'0933112678', N'duytri2001@gmail.com', N'0967561281', N'Việt Nam', N'Nam')
SET IDENTITY_INSERT [dbo].[KHACH] OFF
GO
INSERT [dbo].[LoaiDV] ([MaLoaiDV], [TenloaiDV]) VALUES (N'DD', N'Dọn dẹp')
INSERT [dbo].[LoaiDV] ([MaLoaiDV], [TenloaiDV]) VALUES (N'DU', N'Đồ Uống')
INSERT [dbo].[LoaiDV] ([MaLoaiDV], [TenloaiDV]) VALUES (N'SK', N'Hỗ trợ sức khỏe')
GO
INSERT [dbo].[Loaiphong] ([MaLP], [TenLoaiPhong]) VALUES (N'DOI', N'Đôi')
INSERT [dbo].[Loaiphong] ([MaLP], [TenLoaiPhong]) VALUES (N'DON', N'Đơn')
INSERT [dbo].[Loaiphong] ([MaLP], [TenLoaiPhong]) VALUES (N'MANY', N'Ghép')
GO
SET IDENTITY_INSERT [dbo].[NhanVien] ON 

INSERT [dbo].[NhanVien] ([MaNV], [TenNV], [Ngaysinh], [CMND], [SDT], [Luongcoban], [TrangThai], [MaCLV], [MaCV], [GioiTinh], [user], [Password], [Email], [NgayGiaNhap], [HinhAnh]) VALUES (1, N'Vũ Duy Linh', CAST(N'2000-06-13' AS Date), N'123409876', N'0857853609', 6000000.0000, N'Đang hoạt động', 1, N'NV', N'Nam', N'linh', N'bede', N'linh1@g', CAST(N'2020-01-01' AS Date), N'NV1')
INSERT [dbo].[NhanVien] ([MaNV], [TenNV], [Ngaysinh], [CMND], [SDT], [Luongcoban], [TrangThai], [MaCLV], [MaCV], [GioiTinh], [user], [Password], [Email], [NgayGiaNhap], [HinhAnh]) VALUES (2, N'Admin', CAST(N'1988-01-11' AS Date), N'124536789', N'0875347853', 6000000.0000, N'Đang hoạt động', 2, N'Admin', N'Nu', N'Admin', N'Admin', N'admin@g', CAST(N'2020-02-02' AS Date), N'NV2')
INSERT [dbo].[NhanVien] ([MaNV], [TenNV], [Ngaysinh], [CMND], [SDT], [Luongcoban], [TrangThai], [MaCLV], [MaCV], [GioiTinh], [user], [Password], [Email], [NgayGiaNhap], [HinhAnh]) VALUES (3, N'Huy Bảo', CAST(N'1991-01-22' AS Date), N'129860436', N'0936731234', 6000000.0000, N'Đang hoạt động', 2, N'BV', N'Nam', N'bao', N'ass123', N'bao@g', CAST(N'2020-03-03' AS Date), N'NV3')
SET IDENTITY_INSERT [dbo].[NhanVien] OFF
GO
INSERT [dbo].[PhieuDatPhong] ([MaPhieuDP], [MaPhong], [MaKHACH], [MaNV], [NgayDatPhong], [Traphong], [DonGiaThue], [DonGiaPhong]) VALUES (1, 1, 1, 1, CAST(N'2021-04-04T00:00:00.000' AS DateTime), CAST(N'2021-04-05T00:00:00.000' AS DateTime), 400000.0000, 400000.0000)
INSERT [dbo].[PhieuDatPhong] ([MaPhieuDP], [MaPhong], [MaKHACH], [MaNV], [NgayDatPhong], [Traphong], [DonGiaThue], [DonGiaPhong]) VALUES (2, 2, 2, 1, CAST(N'2021-04-05T00:00:00.000' AS DateTime), CAST(N'2021-04-06T00:00:00.000' AS DateTime), 500000.0000, 500000.0000)
INSERT [dbo].[PhieuDatPhong] ([MaPhieuDP], [MaPhong], [MaKHACH], [MaNV], [NgayDatPhong], [Traphong], [DonGiaThue], [DonGiaPhong]) VALUES (3, 3, 3, 1, CAST(N'2021-04-03T00:00:00.000' AS DateTime), CAST(N'2021-04-04T00:00:00.000' AS DateTime), 400000.0000, 400000.0000)
GO
INSERT [dbo].[PhieuDV] ([MaPhieuDV], [MaPhong], [MaDV], [TienDV], [Soluong], [NgaySD], [GiaDV]) VALUES (1, 1, N'be01', 40000.0000, 1, CAST(N'2021-01-01T00:00:00.000' AS DateTime), 40000.0000)
INSERT [dbo].[PhieuDV] ([MaPhieuDV], [MaPhong], [MaDV], [TienDV], [Soluong], [NgaySD], [GiaDV]) VALUES (1, 1, N'be01', 40000.0000, 1, CAST(N'2021-01-02T00:00:00.000' AS DateTime), 40000.0000)
INSERT [dbo].[PhieuDV] ([MaPhieuDV], [MaPhong], [MaDV], [TienDV], [Soluong], [NgaySD], [GiaDV]) VALUES (1, 1, N'be01', 40000.0000, 1, CAST(N'2021-01-02T00:00:01.000' AS DateTime), 40000.0000)
GO
SET IDENTITY_INSERT [dbo].[Phong] ON 

INSERT [dbo].[Phong] ([MaPhong], [Tenphong], [Songuoi], [DonGia], [Trangthai], [MaLP], [Tang]) VALUES (1, N'1-01', 1, 400000.0000, N'YES', N'DOI', 1)
INSERT [dbo].[Phong] ([MaPhong], [Tenphong], [Songuoi], [DonGia], [Trangthai], [MaLP], [Tang]) VALUES (2, N'1-02', 2, 500000.0000, N'YES', N'DON', 1)
INSERT [dbo].[Phong] ([MaPhong], [Tenphong], [Songuoi], [DonGia], [Trangthai], [MaLP], [Tang]) VALUES (3, N'1-03', 1, 400000.0000, N'YES', N'DOI', 1)
SET IDENTITY_INSERT [dbo].[Phong] OFF
GO
ALTER TABLE [dbo].[DichVu]  WITH CHECK ADD  CONSTRAINT [FK_DichVu_LoaiDV] FOREIGN KEY([MaLoaiDV])
REFERENCES [dbo].[LoaiDV] ([MaLoaiDV])
GO
ALTER TABLE [dbo].[DichVu] CHECK CONSTRAINT [FK_DichVu_LoaiDV]
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD  CONSTRAINT [FK_HoaDon_Phong] FOREIGN KEY([MaPhong])
REFERENCES [dbo].[Phong] ([MaPhong])
GO
ALTER TABLE [dbo].[HoaDon] CHECK CONSTRAINT [FK_HoaDon_Phong]
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD  CONSTRAINT [Relationship14] FOREIGN KEY([MaNV])
REFERENCES [dbo].[NhanVien] ([MaNV])
GO
ALTER TABLE [dbo].[HoaDon] CHECK CONSTRAINT [Relationship14]
GO
ALTER TABLE [dbo].[NhanVien]  WITH CHECK ADD  CONSTRAINT [FK_NhanVien_CaLamViec] FOREIGN KEY([MaCLV])
REFERENCES [dbo].[CaLamViec] ([MaCLV])
GO
ALTER TABLE [dbo].[NhanVien] CHECK CONSTRAINT [FK_NhanVien_CaLamViec]
GO
ALTER TABLE [dbo].[NhanVien]  WITH CHECK ADD  CONSTRAINT [FK_NhanVien_ChucVu] FOREIGN KEY([MaCV])
REFERENCES [dbo].[ChucVu] ([MaCV])
GO
ALTER TABLE [dbo].[NhanVien] CHECK CONSTRAINT [FK_NhanVien_ChucVu]
GO
ALTER TABLE [dbo].[PhieuDatPhong]  WITH CHECK ADD  CONSTRAINT [FK_PhieuDatPhong_KHACH] FOREIGN KEY([MaKHACH])
REFERENCES [dbo].[KHACH] ([MaKHACH])
GO
ALTER TABLE [dbo].[PhieuDatPhong] CHECK CONSTRAINT [FK_PhieuDatPhong_KHACH]
GO
ALTER TABLE [dbo].[PhieuDatPhong]  WITH CHECK ADD  CONSTRAINT [FK_PhieuDatPhong_NhanVien] FOREIGN KEY([MaNV])
REFERENCES [dbo].[NhanVien] ([MaNV])
GO
ALTER TABLE [dbo].[PhieuDatPhong] CHECK CONSTRAINT [FK_PhieuDatPhong_NhanVien]
GO
ALTER TABLE [dbo].[PhieuDatPhong]  WITH CHECK ADD  CONSTRAINT [FK_PhieuDatPhong_Phong] FOREIGN KEY([MaPhong])
REFERENCES [dbo].[Phong] ([MaPhong])
GO
ALTER TABLE [dbo].[PhieuDatPhong] CHECK CONSTRAINT [FK_PhieuDatPhong_Phong]
GO
ALTER TABLE [dbo].[PhieuDV]  WITH CHECK ADD  CONSTRAINT [FK_PhieuDV_DichVu] FOREIGN KEY([MaDV])
REFERENCES [dbo].[DichVu] ([MaDV])
GO
ALTER TABLE [dbo].[PhieuDV] CHECK CONSTRAINT [FK_PhieuDV_DichVu]
GO
ALTER TABLE [dbo].[PhieuDV]  WITH CHECK ADD  CONSTRAINT [FK_PhieuDV_Phong] FOREIGN KEY([MaPhong])
REFERENCES [dbo].[Phong] ([MaPhong])
GO
ALTER TABLE [dbo].[PhieuDV] CHECK CONSTRAINT [FK_PhieuDV_Phong]
GO
ALTER TABLE [dbo].[Phong]  WITH CHECK ADD  CONSTRAINT [FK_Phong_Loaiphong] FOREIGN KEY([MaLP])
REFERENCES [dbo].[Loaiphong] ([MaLP])
GO
ALTER TABLE [dbo].[Phong] CHECK CONSTRAINT [FK_Phong_Loaiphong]
GO
